<template>
    <el-header>
        <el-dropdown>
            <i
                class="el-icon-setting"
                style="margin-right: 15px"
            ></i>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>設定</el-dropdown-item>
                <el-dropdown-item>登出</el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
        <span>Dez</span>
    </el-header>
</template>

<style>
    .el-header {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }
</style>