<template>
    <el-aside>
        <el-menu>
            <el-menu-item index="1">
                <template slot="title"><i class="el-icon-notebook-1"></i>月記帳本</template>
            </el-menu-item>
            <el-menu-item index="2">
                <template slot="title"><i class="el-icon-money"></i>帳戶管理</template>
            </el-menu-item>
            <el-menu-item index="3">
                <template slot="title"><i class="el-icon-pie-chart"></i>圖表分析</template>
            </el-menu-item>
        </el-menu>
    </el-aside>
</template>

<style>
    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
        line-height: 200px;
    }
</style>